
@font-face {
  font-family: 'AmazonEmber';
  src: local('AmazonEmber'), url(./assets/fonts/AmazonEmber_Bd.ttf) format('truetype');
  font-weight: normal;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
body {
  background-color: rgb(234, 237, 237);
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    font-family: AmazonEmber, Arial, mkdir contextsans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
